:root {
  --dark-brown: #37353e;
  --dark-grey: #44444e;
  --brown: #715a5a;
  --light-grey: #d3dad9;

  --light-brown: #b4acac;
  --cinza: #7b7b7b;
}
/* ------------------------------------------------------ */
/* levitação */
.hover img {
  width: 140px;
  padding-top: 60px;

  transition: transform 1.5s ease;

  cursor: url(files/Magic\ Wand\ Normal\ Select.cur), auto;
}

.hover img:hover {
  transform: translateY(-50px) scale(1.05);
}
/* -------------------------------------- */
/* títulos coloridos */
.titulos h4,
h5,
h6 {
  display: inline-block;
}

.titulos p {
  margin-top: -3px;
  font-size: 8px;
}

/* h4 */
.titulos h4 {
  background: -webkit-linear-gradient(left, #ffcb50, #ff8c8c, #ee3270);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* h5 */
.titulos h5 {
  color: #9bd357;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #333;
  animation: typing 1s steps(6, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* h6 */
.titulos h6 {
  color: #fffcf0;
  text-shadow: 0px 0px 6px rgba(255, 119, 0, 1),
    0px 0px 6px rgba(255, 213, 0, 1), 0px 0px 6px rgba(255, 0, 0, 1),
    0px 0px 6px rgba(255, 161, 255, 1);
}

/* ------ */
.titulos div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.type {
  display: inline-block; /* pra consertar o efeito typing que precisa ser inline-block */
}

/* ------------------------------------------------------ */
/* segredo */
.img-gato {
  width: 140px;
  margin-top: 3px;
  border-radius: 20px;

  filter: grayscale(100%) blur(15px);
  transition: filter 1s ease 0s;
}

.img-gato:hover {
  filter: blur(0px);
  filter: grayscale(0%);
}

#small {
  font-size: 7px;
  color: #333;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* link atividade */

.link-atv {
  display: block;
  width: 40px;
  height: 10px;
  font-family: "Poppins";
  font-size: 8px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  margin: 10px 0;
  margin-left: 8px;

  border-radius: 40px;
  color: var(--brown);
  background-color: #c8c0b6;
  border: 1px solid var(--brown);
}

.link-atv:hover {
  color: var(--brown);
  background-color: #b3a99d7f;
  border: 1px solid var(--brown);

  cursor: pointer;
}
